@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.title {
  text-align: center;
  line-height: 200%;
  font-weight: 200;

  &::first-line {
    font-weight: 800;
  }
}

.text_span {
  &__strong {
    color: $peach-active-color;
  }

  &__medium {
    color: $peach_color;
  }

  &__light {
    color: $light-peach-color;
  }
}

.sub_title {
  text-align: center;
}

.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  margin-top: 7vh;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3vw;
  }
}

.name_desc {
  h2 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.1rem;
    font-weight: 300;
    padding-left: 1vw;
  }
}

.avatar_role {
  width: 50%;
  $size: 17vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    width: $size;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: $size;
    border: 3px solid $peach-color;
    border-radius: 100vw;
  }

  h2 {
    font-weight: 400;
    color: $light-peach-color;
  }
}
